@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:ital@0;1&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:ital@0;1&display=swap'); */

/* .dark {
  @apply bg-black text-white;
}  */
html {
  @apply antialiased font-sans;
}

html.light {
  @apply bg-white text-black;
}

html.dark {
  @apply bg-black text-white;
}

@layer base {
  body {
    /* Static classes only, applied consistently on server and client */
    @apply font-sans;
  }

  .post-content {
    @apply font-serif;
  }
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .progress {
    @apply w-full h-2 bg-gray-200 dark:bg-gray-600 rounded-full;
  }

  .progress::-webkit-progress-bar {
    @apply bg-gray-200 dark:bg-gray-600 rounded-full;
  }

  .progress::-webkit-progress-value {
    @apply bg-sapphire dark:bg-blue-500 rounded-full transition-all duration-300;
  }

  .progress::-moz-progress-bar {
    @apply bg-sapphire dark:bg-blue-500 rounded-full;
  }
}

.dummy-post {
  position: relative;
  z-index: 10;
}
.dummy-post::before {
  position: absolute;
  content: '';
  top: -0.1rem;
  left: -0.1rem;
  border-radius: 10px;
  width: calc(100% + 0.2rem);
  height: calc(100% + 0.2rem);
  background-image: linear-gradient(to top right, cyan, rgb(255, 0, 149));
  box-shadow: 0px 0px 10px cyan;
  z-index: -5;
}

